<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{94,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,145}}</string>
                <key>sourceSize</key>
                <string>{96,147}</string>
            </dict>
            <key>fish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
            <key>fish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{64,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,154}}</string>
                <key>sourceSize</key>
                <string>{64,154}</string>
            </dict>
            <key>fish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seaobjects-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42134bb14dbdfd52e7675bba5a880cb$</string>
            <key>textureFileName</key>
            <string>seaobjects-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
